#myVideo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 /* min-width: 100%;
  min-height: 100%; */
}
.content{
  position: fixed;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  color: #fdf0d5;
  width: 100%;
  padding: 20px;
}
.content a:link{
  color: #fdf0d5;
}
a:visited{
  color: #f397d6;
}
a:hover{
  color: #f42272;
}
a:active{
  color: #fdf0d5;
}
